In [15]:
import pandas as pd

# Función para cargar CSV
def cargar_csv(ruta_archivo):
    return pd.read_csv(ruta_archivo)

# Archivos y rutas
archivos = {
    'Sales_final_2016': r'/Users/laurab/Downloads/archive (1)/SalesFINAL12312016.csv',
    'Purchase_final_2016': r'/Users/laurab/Downloads/archive (1)/PurchasesFINAL12312016.csv',
    'Invoice_purchases_2016': r'/Users/laurab/Downloads/archive (1)/InvoicePurchases12312016.csv',
    'Purchase_Prices_2017': r'/Users/laurab/Downloads/archive (1)/2017PurchasePricesDec.csv',
    'Beg_inv_final_2016': r'/Users/laurab/Downloads/archive (1)/BegInvFINAL12312016.csv',
    'End_inv_final_2016': r'/Users/laurab/Downloads/archive (1)/EndInvFINAL12312016.csv'
}

# Cargar todas las tablas
tablas = {nombre: cargar_csv(ruta) for nombre, ruta in archivos.items()}

# Función para convertir columnas de fecha a datetime automáticamente
def convertir_a_datetime(df):
    for columna in df.columns:
        if df[columna].dtype == 'object' and any(keyword in columna.lower() for keyword in ['fecha', 'date', 'timestamp']):
            try:
                df[columna] = pd.to_datetime(df[columna], errors='coerce')
            except Exception as e:
                print(f"Error al convertir la columna {columna} a datetime: {e}")
    return df

# Aplicar la conversión de fechas a todas las tablas
tablas_con_fechas_convertidas = {nombre: convertir_a_datetime(df) for nombre, df in tablas.items()}

# Verificar los tipos de datos después de la conversión
for nombre, df in tablas_con_fechas_convertidas.items():
    print(f"Tipos de datos para {nombre}:")
    print(df.dtypes)
    print()

Tipos de datos para Sales_final_2016:
InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
SalesQuantity              int64
SalesDollars             float64
SalesPrice               float64
SalesDate         datetime64[ns]
Volume                     int64
Classification             int64
ExciseTax                float64
VendorNo                   int64
VendorName                object
dtype: object

Tipos de datos para Purchase_final_2016:
InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
VendorNumber               int64
VendorName                object
PONumber                   int64
PODate            datetime64[ns]
ReceivingDate     datetime64[ns]
InvoiceDate       datetime64[ns]
PayDate           datetime64[ns]
PurchasePrice            float64
Quantity                   int64
Dollars                  float64
Classification             int64
dtype: object

Tipos de datos para Invoice_purchases_2016:
VendorNumber             int64
VendorName              object
InvoiceDate     datetime64[ns]
PONumber                 int64
PODate          datetime64[ns]
PayDate         datetime64[ns]
Quantity                 int64
Dollars                float64
Freight                float64
Approval                object
dtype: object

Tipos de datos para Purchase_Prices_2017:
Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
dtype: object

Tipos de datos para Beg_inv_final_2016:
InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                   object
onHand                  int64
Price                 float64
startDate      datetime64[ns]
dtype: object

Tipos de datos para End_inv_final_2016:
InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                   object
onHand                  int64
Price                 float64
endDate        datetime64[ns]
dtype: object

In [16]:
def limpiar_nulos(df):
    # Eliminar filas con cualquier valor nulo
    df = df.dropna()

    # O también, si prefieres rellenar los valores nulos, puedes usar algo como:
    # Rellenar valores nulos en columnas numéricas con la media
    for columna in df.select_dtypes(include=['float64', 'int64']).columns:
        df[columna] = df[columna].fillna(df[columna].mean())

    # Rellenar valores nulos en columnas categóricas con la moda (valor más frecuente)
    for columna in df.select_dtypes(include=['object']).columns:
        df[columna] = df[columna].fillna(df[columna].mode()[0])

    return df

# Aplicar limpieza de nulos a todas las tablas
tablas_sin_nulos = {nombre: limpiar_nulos(df) for nombre, df in tablas_con_fechas_convertidas.items()}

/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mean())
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mode()[0])
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mean())
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mode()[0])
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mean())
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mode()[0])
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mean())
/var/folders/xg/8f2w1rh91118khqn0n1_0s1r0000gn/T/ipykernel_4163/2478679782.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(df[columna].mode()[0])

In [17]:
# Verificar que no haya más valores nulos
for nombre, df in tablas_sin_nulos.items():
    print(f"Conteo de valores nulos para {nombre}:")
    print(df.isnull().sum())  # Muestra la cantidad de nulos por columna
    print(df.head())  # Muestra las primeras filas del DataFrame
    print()

Conteo de valores nulos para Sales_final_2016:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64
           InventoryId  Store  Brand                 Description        Size  \
0  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
1  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
2  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
3  1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses       750mL
4  1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack  375mL 2 Pk

   SalesQuantity  SalesDollars  SalesPrice  SalesDate  Volume  Classification  \
0              1         16.49       16.49 2016-01-01     750               1
1              2         32.98       16.49 2016-01-02     750               1
2              1         16.49       16.49 2016-01-03     750               1
3              1         14.49       14.49 2016-01-08     750               1
4              2         69.98       34.99 2016-01-09     375               1

   ExciseTax  VendorNo                   VendorName
0       0.79     12546  JIM BEAM BRANDS COMPANY
1       1.57     12546  JIM BEAM BRANDS COMPANY
2       0.79     12546  JIM BEAM BRANDS COMPANY
3       0.79     12546  JIM BEAM BRANDS COMPANY
4       0.79     12546  JIM BEAM BRANDS COMPANY

Conteo de valores nulos para Purchase_final_2016:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64
           InventoryId  Store  Brand                   Description   Size  \
0    69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno  750mL
1     30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
2    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
3  1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
4    76_DONCASTER_2034     76   2034     Glendalough Double Barrel  750mL

   VendorNumber                   VendorName  PONumber     PODate  \
0           105  ALTAMAR BRANDS LLC               8124 2015-12-21
1          4466  AMERICAN VINTAGE BEVERAGE        8137 2015-12-22
2          4466  AMERICAN VINTAGE BEVERAGE        8137 2015-12-22
3          4466  AMERICAN VINTAGE BEVERAGE        8137 2015-12-22
4           388  ATLANTIC IMPORTING COMPANY       8169 2015-12-24

  ReceivingDate InvoiceDate    PayDate  PurchasePrice  Quantity  Dollars  \
0    2016-01-02  2016-01-04 2016-02-16          35.71         6   214.26
1    2016-01-01  2016-01-07 2016-02-21           9.35         4    37.40
2    2016-01-02  2016-01-07 2016-02-21           9.41         5    47.05
3    2016-01-01  2016-01-07 2016-02-21           9.35         6    56.10
4    2016-01-02  2016-01-09 2016-02-16          21.32         5   106.60

   Classification
0               1
1               1
2               1
3               1
4               1

Conteo de valores nulos para Invoice_purchases_2016:
VendorNumber    0
VendorName      0
InvoiceDate     0
PONumber        0
PODate          0
PayDate         0
Quantity        0
Dollars         0
Freight         0
Approval        0
dtype: int64
     VendorNumber                   VendorName InvoiceDate  PONumber  \
93            480  BACARDI USA INC              2016-01-19      8288
97           1128  BROWN-FORMAN CORP            2016-01-15      8210
109          3960  DIAGEO NORTH AMERICA INC     2016-01-14      8271
126         12546  JIM BEAM BRANDS COMPANY      2016-01-16      8241
137          4425        MARTIGNETTI COMPANIES  2016-01-18      8276

        PODate    PayDate  Quantity    Dollars  Freight        Approval
93  2016-01-01 2016-02-18     32463  396606.13  1864.05  Frank Delahunt
97  2015-12-27 2016-02-25     23351  298902.89  1494.51  Frank Delahunt
109 2015-12-31 2016-02-11    100183  954454.16  4581.38  Frank Delahunt
126 2015-12-29 2016-02-15     56213  559691.95  2910.40  Frank Delahunt
137 2015-12-31 2016-02-28     42400  458222.53  2336.93  Frank Delahunt

Conteo de valores nulos para Purchase_Prices_2017:
Brand             0
Description       0
Price             0
Size              0
Volume            0
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64
   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750               1
1     62     Herradura Silver Tequila  36.99  750mL    750               1
2     63   Herradura Reposado Tequila  38.99  750mL    750               1
3     72         No. 3 London Dry Gin  34.99  750mL    750               1
4     75    Three Olives Tomato Vodka  14.99  750mL    750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.28          8320  SHAW ROSS INT L IMP LTD
1          28.67          1128  BROWN-FORMAN CORP
2          30.46          1128  BROWN-FORMAN CORP
3          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4          10.94          7245  PROXIMO SPIRITS INC.

Conteo de valores nulos para Beg_inv_final_2016:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price  startDate
0  750mL       8  12.99 2016-01-01
1  750mL       7  10.99 2016-01-01
2  750mL       6  36.99 2016-01-01
3  750mL       3  38.99 2016-01-01
4  750mL       6  34.99 2016-01-01

Conteo de valores nulos para End_inv_final_2016:
InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
endDate        0
dtype: int64
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
2  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75      1  HARDERSFIELD     75    Three Olives Tomato Vodka

    Size  onHand  Price    endDate
0  750mL      11  12.99 2016-12-31
1  750mL       7  36.99 2016-12-31
2  750mL       7  38.99 2016-12-31
3  750mL       4  34.99 2016-12-31
4  750mL       7  14.99 2016-12-31

In [18]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.36)
Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:

pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\python311\lib\site-packages (2.0.36)
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp311-cp311-win_amd64.whl (68 kB)
     ---------------------------------------- 68.9/68.9 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\isa_a\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\python311\lib\site-packages (from sqlalchemy) (3.1.1)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp313-cp313-macosx_11_0_arm64.whl (72 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [22]:
df.to_csv('any_manufacturing.csv', index=False)

In [23]:
pwd

'/Users/laurab/Downloads'

In [24]:
pip install pandas sqlalchemy pyodbc

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.36)
Requirement already satisfied: pyodbc in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (5.2.0)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/laurab/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /Users/laurab/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [25]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/laurab/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/laurab/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.36)
Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (9.1.0)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/laurab/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /Users/laurab/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [27]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (9.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (1.1.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [29]:
import mysql.connector

# Establece la conexión a la base de datos
conn = mysql.connector.connect(
    host='127.0.0.1',         # Por ejemplo, 'localhost' si estás trabajando en tu máquina
    user='root',      # Tu usuario de la base de datos
    password='Javemuch16$', # Tu contraseña de la base de datos
    database='any_manufacturing_mb' # El nombre de tu base de datos
)

# Verifica que la conexión sea exitosa
if conn.is_connected():
    print("Conexión exitosa a la base de datos.")
else:
    print("Error en la conexión.")

Conexión exitosa a la base de datos.

In [ ]:
import mysql.connector
import pandas as pd

# Establecer la conexión a la base de datos
conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='Javemuch16$',
    database='any_manufacturing_mb'
)

# Crear un cursor para ejecutar las consultas
cursor = conn.cursor()

# Diccionario de archivos y tablas
archivos = {
    'Sales_final_2016': r'/Users/laurab/Downloads/archive (1)/SalesFINAL12312016.csv',
    'Purchase_final_2016': r'/Users/laurab/Downloads/archive (1)/PurchasesFINAL12312016.csv',
    'Invoice_purchases_2016': r'/Users/laurab/Downloads/archive (1)/InvoicePurchases12312016.csv',
    'Purchase_Prices_2017': r'/Users/laurab/Downloads/archive (1)/2017PurchasePricesDec.csv',
    'Beg_inv_final_2016': r'/Users/laurab/Downloads/archive (1)/BegInvFINAL12312016.csv',
    'End_inv_final_2016': r'/Users/laurab/Downloads/archive (1)/EndInvFINAL12312016.csv'
}

# Función para cargar CSV
def cargar_csv(ruta_archivo):
    return pd.read_csv(ruta_archivo)

# Cargar todas las tablas
tablas = {nombre: cargar_csv(ruta) for nombre, ruta in archivos.items()}

# Función para insertar datos en MySQL
def insertar_datos_mysql(df, nombre_tabla):
    for _, row in df.iterrows():
        # Construir la consulta de inserción
        columnas = ', '.join(df.columns)
        valores = ', '.join([f"'{str(val)}'" for val in row])
        query = f"INSERT INTO {nombre_tabla} ({columnas}) VALUES ({valores})"
        
        # Ejecutar la consulta
        try:
            cursor.execute(query)
        except mysql.connector.Error as e:
            print(f"Error al insertar datos en la tabla {nombre_tabla}: {e}")
            continue  # Continuar con la siguiente fila en caso de error

    # Confirmar los cambios
    conn.commit()

# Insertar todas las tablas
for nombre, df in tablas.items():
    print(f"Ingresando datos a la tabla {nombre}...")
    insertar_datos_mysql(df, nombre)

# Cerrar el cursor y la conexión
cursor.close()
conn.close()

print("Datos insertados correctamente.")