In [3]:
import warnings
warnings.filterwarnings ("ignore")

In [4]:
import pandas as pd
import numpy as np

In [8]:
# Cargar las tablas
Sales_final_2016 = pd.read_csv(r'C:\Users\isa_a\Downloads\archive (1)\SalesFINAL12312016.csv')
Purchase_final_2016 = pd.read_csv(r'C:\Users\isa_a\Downloads\archive (1)\PurchasesFINAL12312016.csv')
Invoice_purchases_2016 = pd.read_csv(r'C:\Users\isa_a\Downloads\archive (1)\InvoicePurchases12312016.csv')

In [15]:
print (Sales_final_2016)
print(Sales_final_2016.head)

                 InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49 2016-01-01
1             750mL              2         32.98       16.49 2016-01-02
2             750mL              1         16.49       16.49 2016-01-03
3             750mL              1         14.49       14.49 2016-01-08
4        375mL 2 Pk              2         69.98       34.99 2016-01-09
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95 2016-02-12
1048571       750mL              8        103.60       12.95 2016-02-13
1048572       750mL              1         12.95       12.95 2016-02-19
1048573       750mL              3         38.85       12.95 2016-02-22
1048574       750mL              2         25.90       12.95 2016-02-24

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]
<bound method NDFrame.head of                  InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49 2016-01-01
1             750mL              2         32.98       16.49 2016-01-02
2             750mL              1         16.49       16.49 2016-01-03
3             750mL              1         14.49       14.49 2016-01-08
4        375mL 2 Pk              2         69.98       34.99 2016-01-09
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95 2016-02-12
1048571       750mL              8        103.60       12.95 2016-02-13
1048572       750mL              1         12.95       12.95 2016-02-19
1048573       750mL              3         38.85       12.95 2016-02-22
1048574       750mL              2         25.90       12.95 2016-02-24

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]>

In [16]:

print(Purchase_final_2016.head)

<bound method NDFrame.head of                   InventoryId  Store  Brand                   Description  \
0           69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno
1            30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide
2           34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced
3         1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide
4           76_DONCASTER_2034     76   2034     Glendalough Double Barrel
...                       ...    ...    ...                           ...
2372469     49_GARIGILL_22298     49  22298       Zorvino Vyds Sangiovese
2372470  1_HARDERSFIELD_19556      1  19556    Zorvino Bacca Z Blackberry
2372471   66_EANVERNESS_22297     66  22297            Zorvino Vyds Pearz
2372472    69_MOUNTMEND_19557     69  19557  Zorvino Fragole Z Strawberry
2372473    55_DRY GULCH_22298     55  22298       Zorvino Vyds Sangiovese

          Size  VendorNumber                   VendorName  PONumber  \
0        750mL           105  ALTAMAR BRANDS LLC               8124
1        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
2        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
3        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
4        750mL           388  ATLANTIC IMPORTING COMPANY       8169
...        ...           ...                          ...       ...
2372469  750mL         90058  ZORVINO VINEYARDS               13593
2372470  750mL         90058  ZORVINO VINEYARDS               13593
2372471  750mL         90058  ZORVINO VINEYARDS               13593
2372472  750mL         90058  ZORVINO VINEYARDS               13593
2372473  750mL         90058  ZORVINO VINEYARDS               13593

             PODate ReceivingDate InvoiceDate     PayDate  PurchasePrice  \
0        2015-12-21    2016-01-02  2016-01-04  2016-02-16          35.71
1        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
2        2015-12-22    2016-01-02  2016-01-07  2016-02-21           9.41
3        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
4        2015-12-24    2016-01-02  2016-01-09  2016-02-16          21.32
...             ...           ...         ...         ...            ...
2372469  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06
2372470  2016-12-19    2016-12-27  2017-01-09  2017-02-06           9.39
2372471  2016-12-19    2016-12-26  2017-01-09  2017-02-06           6.75
2372472  2016-12-19    2016-12-26  2017-01-09  2017-02-06           9.39
2372473  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06

         Quantity  Dollars  Classification
0               6   214.26               1
1               4    37.40               1
2               5    47.05               1
3               6    56.10               1
4               5   106.60               1
...           ...      ...             ...
2372469        12    96.72               2
2372470        12   112.68               2
2372471        12    81.00               2
2372472        12   112.68               2
2372473        12    96.72               2

[2372474 rows x 16 columns]>

In [20]:
Purchase_final_2016.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

In [24]:
print(Purchase_final_2016.columns)

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [26]:
# Lista de columnas a convertir
columnas_a_convertir = ['PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate']

# Convertir cada columna a formato datetime
for columna in columnas_a_convertir:
    Purchase_final_2016[columna] = pd.to_datetime(Purchase_final_2016[columna], errors='coerce')

# Verificar la conversión
print(Purchase_final_2016.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          datetime64[ns]
 9   ReceivingDate   datetime64[ns]
 10  InvoiceDate     datetime64[ns]
 11  PayDate         datetime64[ns]
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: datetime64[ns](4), float64(2), int64(6), object(4)
memory usage: 289.6+ MB
None

In [17]:
print(Invoice_purchases_2016.head)

<bound method NDFrame.head of       VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5543 rows x 10 columns]>

In [28]:
# Verificar las columnas en la tabla Invoice_purchase_2016
print(Invoice_purchases_2016.columns)

# Convertir las columnas de fecha en Invoice_purchase_2016
columnas_a_convertir = ['InvoiceDate', 'PODate', 'PayDate']
for columna in columnas_a_convertir:
    if columna in Invoice_purchases_2016.columns:
        Invoice_purchases_2016[columna] = pd.to_datetime(Invoice_purchases_2016[columna], errors='coerce')
    else:
        print(f"La columna {columna} no se encuentra en la tabla.")

# Verificar los resultados de la conversión
print(Invoice_purchases_2016.info())

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: datetime64[ns](3), float64(2), int64(3), object(2)
memory usage: 433.2+ KB
None

In [11]:
Sales_final_2016.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

In [12]:
# Convertir la columna 'salesdate' de string a datetime
Sales_final_2016['SalesDate'] = pd.to_datetime(Sales_final_2016['SalesDate'], errors='coerce')

In [13]:
Sales_final_2016.dtypes

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
SalesQuantity              int64
SalesDollars             float64
SalesPrice               float64
SalesDate         datetime64[ns]
Volume                     int64
Classification             int64
ExciseTax                float64
VendorNo                   int64
VendorName                object
dtype: object

In [18]:
Purchase_final_2016.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

In [38]:
# Para verificar valores nulos por columna
print("Valores nulos en Sales_final_2016 por columna:")
print(Sales_final_2016.isnull().sum())

print("Valores nulos en Purchase_final_2016 por columna:")
print(Purchase_final_2016.isnull().sum())

print("Valores nulos en Invoice_purchase_2016 por columna:")
print(Invoice_purchases_2016.isnull().sum())

Valores nulos en Sales_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64
Valores nulos en Purchase_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64
Valores nulos en Invoice_purchase_2016 por columna:
VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [37]:
# Identificar los valores más comunes en la columna
valores_comunes = Purchase_final_2016['Size'].value_counts()
print(valores_comunes.head(5))  # Analizar los patrones más comunes

Size
750mL    1207700
1.75L     593298
1.5L      229841
50mL       73333
375mL      70385
Name: count, dtype: int64

In [39]:
# Para verificar valores nulos por columna
print("Valores nulos en Sales_final_2016 por columna:")
print(Sales_final_2016.isnull().sum())

print("Valores nulos en Purchase_final_2016 por columna:")
print(Purchase_final_2016.isnull().sum())

print("Valores nulos en Invoice_purchase_2016 por columna:")
print(Invoice_purchases_2016.isnull().sum())

Valores nulos en Sales_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64
Valores nulos en Purchase_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64
Valores nulos en Invoice_purchase_2016 por columna:
VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [41]:
print(Invoice_purchases_2016.columns)

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [5]:
# Cargar archivo CSV
df_2017PurchasePrices = pd.read_csv ('2017PurchasePricesDec.csv')

In [6]:
# Verificar estructura de los datos
print(df_2017PurchasePrices.head())
print(df_2017PurchasePrices.info())
print(df_2017PurchasePrices.describe())

   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750               1
1     62     Herradura Silver Tequila  36.99  750mL    750               1
2     63   Herradura Reposado Tequila  38.99  750mL    750               1
3     72         No. 3 London Dry Gin  34.99  750mL    750               1
4     75    Three Olives Tomato Vodka  14.99  750mL    750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.28          8320  SHAW ROSS INT L IMP LTD
1          28.67          1128  BROWN-FORMAN CORP
2          30.46          1128  BROWN-FORMAN CORP
3          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4          10.94          7245  PROXIMO SPIRITS INC.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB
None
              Brand         Price  Classification  PurchasePrice  \
count  12261.000000  12261.000000    12261.000000   12261.000000
mean   17989.067123     38.640240        1.708996      26.488220
std    12528.503464    206.151172        0.454244     156.182948
min       58.000000      0.000000        1.000000       0.000000
25%     5990.000000     10.990000        1.000000       6.890000
50%    18788.000000     15.990000        2.000000      10.650000
75%    25117.000000     29.990000        2.000000      20.130000
max    90631.000000  13999.900000        2.000000   11111.030000

        VendorNumber
count   12261.000000
mean    10814.861757
std     19007.682322
min         2.000000
25%      3960.000000
50%      7153.000000
75%      9552.000000
max    173357.000000

In [7]:
print (df_2017PurchasePrices.columns)

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [ ]:
# Convertir tamaños a categorías
df_2017PurchasePrices['Size'] = df_2017PurchasePrices['Size'].astype('category')

In [8]:
df_2017PurchasePrices.isnull () . sum()

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [9]:
df_2017PurchasePrices.dtypes

Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
dtype: object

In [10]:
# Guardar datos limpios y normalizados
df_2017PurchasePrices.to_csv('2017PurchasePricesFinal.csv', index=False)

In [11]:
# Cargar archivo CSV
df_BegInv = pd.read_csv ('BegInvFinal12312016.csv')

In [12]:
# Verificar estructura de los datos
print(df_BegInv.head())
print(df_BegInv.info())
print(df_BegInv.describe())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2016-01-01
1  750mL       7  10.99  2016-01-01
2  750mL       6  36.99  2016-01-01
3  750mL       3  38.99  2016-01-01
4  750mL       6  34.99  2016-01-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB
None
               Store          Brand         onHand          Price
count  206529.000000  206529.000000  206529.000000  206529.000000
mean       42.122457   13761.482320      20.429455      22.253910
std        23.191393   13059.429355      31.467342      70.178964
min         1.000000      58.000000       0.000000       0.000000
25%        22.000000    3746.000000       7.000000       9.990000
50%        42.000000    8010.000000      12.000000      14.990000
75%        64.000000   22143.000000      21.000000      21.990000
max        79.000000   90090.000000    1251.000000   13999.900000

In [13]:
# Convertir tamaños a categorías
df_BegInv['Size'] = df_BegInv['Size'].astype('category')

In [14]:
# Convertir fechas en datetime
df_BegInv ['startDate'] = pd.to_datetime (df_BegInv ['startDate'])

In [15]:
df_BegInv.dtypes

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                 category
onHand                  int64
Price                 float64
startDate      datetime64[ns]
dtype: object

In [16]:
# Guardar datos limpios y normalizados
df_BegInv.to_csv('BegInvFinal.csv', index=False)

In [17]:
# Cargar archivo CSV
df_EndInv = pd.read_csv ('EndInvFinal12312016.csv')

In [18]:
# Verificar estructura de los datos
print(df_EndInv.head())
print(df_EndInv.info())
print(df_EndInv.describe())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
2  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75      1  HARDERSFIELD     75    Three Olives Tomato Vodka

    Size  onHand  Price     endDate
0  750mL      11  12.99  2016-12-31
1  750mL       7  36.99  2016-12-31
2  750mL       7  38.99  2016-12-31
3  750mL       4  34.99  2016-12-31
4  750mL       7  14.99  2016-12-31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB
None
               Store          Brand         onHand          Price
count  224489.000000  224489.000000  224489.000000  224489.000000
mean       43.505740   14356.370513      21.763988      23.585583
std        23.326415   13118.467851      37.233576      79.202775
min         1.000000      58.000000       0.000000       0.490000
25%        23.000000    3798.000000       7.000000       9.990000
50%        44.000000    8259.000000      12.000000      14.990000
75%        66.000000   23965.000000      22.000000      23.490000
max        81.000000   90631.000000    3676.000000   13999.900000

In [19]:
# Convertir tamaños a categorías
df_EndInv ['Size'] = df_EndInv['Size'].astype('category')

In [20]:
# Convertir fechas en datetime
df_EndInv['endDate'] = pd.to_datetime (df_EndInv['endDate'])

In [21]:
df_EndInv.dtypes

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                 category
onHand                  int64
Price                 float64
endDate        datetime64[ns]
dtype: object

In [23]:
# Guardar datos limpios y normalizados
df_EndInv.to_csv('EndInvFinal.csv', index=False)

In [24]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\silvina\appdata\local\programs\python\python312\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\silvina\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\silvina\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\silvina\appdata\local\programs\python\python312\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
#Para SQL Server
from sqlalchemy import create_engine # Biblioteca que yo uso para conectarme con base de datos locales
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
import pyodbc
import pandas as pd
import numpy as np
import os

In [27]:
#optativo pero recomendable por seguridad
from dotenv import load_dotenv

In [28]:
# Cargar las variables de entorno desde el archivo .env
load_dotenv()

False

In [29]:
# Obtener las variables de entorno
password = os.getenv("DB_PASSWORD")

In [31]:
# Configuración de la conexión
user = "DESKTOP-ONSUG5I\silvina" #tu usuario SQL Server
password = "DB_PASSWORD" # Reemplazar con el password de tu motor local para no exponerlo si se sube a un repositorio publico
host = "localhost"
port = "1433" # Puerto por defecto de SQL Server (Verificar)
database = "basedatos_proyectofinal_prueba" # Nombre de la base de datos

In [32]:
# Crear la URI de conexión para SQL Server
connection_uri = f'mssql + pyodbc://{user}:{password}@{host}:{port}/{database}??Driver= ODBC+Driver+17+for+SQL+Server'

In [ ]:
# Crear el motor de conexión
engine = create_engine(connection_uri)

In [ ]:
# Verifica que la conexión sea exitosa
if engine.connect():
    print("Conexión exitosa a la base de datos.")
else:
    print("Error en la conexión.")