In [1]:
import pandas as pd
import numpy as np

In [8]:
# Cargar las tablas
Sales_final_2016 = pd.read_csv(r'C:\Users\isa_a\Downloads\archive (1)\SalesFINAL12312016.csv')
Purchase_final_2016 = pd.read_csv(r'C:\Users\isa_a\Downloads\archive (1)\PurchasesFINAL12312016.csv')
Invoice_purchases_2016 = pd.read_csv(r'C:\Users\isa_a\Downloads\archive (1)\InvoicePurchases12312016.csv')

In [15]:
print (Sales_final_2016)
print(Sales_final_2016.head)

                 InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49 2016-01-01
1             750mL              2         32.98       16.49 2016-01-02
2             750mL              1         16.49       16.49 2016-01-03
3             750mL              1         14.49       14.49 2016-01-08
4        375mL 2 Pk              2         69.98       34.99 2016-01-09
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95 2016-02-12
1048571       750mL              8        103.60       12.95 2016-02-13
1048572       750mL              1         12.95       12.95 2016-02-19
1048573       750mL              3         38.85       12.95 2016-02-22
1048574       750mL              2         25.90       12.95 2016-02-24

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]
<bound method NDFrame.head of                  InventoryId  Store  Brand                 Description  \
0        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
1        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
2        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
3        1_HARDERSFIELD_1004      1   1004  Jim Beam w/2 Rocks Glasses
4        1_HARDERSFIELD_1005      1   1005     Maker's Mark Combo Pack
...                      ...    ...    ...                         ...
1048570  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048571  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048572  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048573  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr
1048574  19_WINTERVALE_39384     19  39384    F Coppola Diamond Pnt Nr

               Size  SalesQuantity  SalesDollars  SalesPrice  SalesDate  \
0             750mL              1         16.49       16.49 2016-01-01
1             750mL              2         32.98       16.49 2016-01-02
2             750mL              1         16.49       16.49 2016-01-03
3             750mL              1         14.49       14.49 2016-01-08
4        375mL 2 Pk              2         69.98       34.99 2016-01-09
...             ...            ...           ...         ...        ...
1048570       750mL              4         51.80       12.95 2016-02-12
1048571       750mL              8        103.60       12.95 2016-02-13
1048572       750mL              1         12.95       12.95 2016-02-19
1048573       750mL              3         38.85       12.95 2016-02-22
1048574       750mL              2         25.90       12.95 2016-02-24

         Volume  Classification  ExciseTax  VendorNo  \
0           750               1       0.79     12546
1           750               1       1.57     12546
2           750               1       0.79     12546
3           750               1       0.79     12546
4           375               1       0.79     12546
...         ...             ...        ...       ...
1048570     750               2       0.45      2000
1048571     750               2       0.90      2000
1048572     750               2       0.11      2000
1048573     750               2       0.34      2000
1048574     750               2       0.22      2000

                          VendorName
0        JIM BEAM BRANDS COMPANY
1        JIM BEAM BRANDS COMPANY
2        JIM BEAM BRANDS COMPANY
3        JIM BEAM BRANDS COMPANY
4        JIM BEAM BRANDS COMPANY
...                              ...
1048570  SOUTHERN WINE & SPIRITS NE
1048571  SOUTHERN WINE & SPIRITS NE
1048572  SOUTHERN WINE & SPIRITS NE
1048573  SOUTHERN WINE & SPIRITS NE
1048574  SOUTHERN WINE & SPIRITS NE

[1048575 rows x 14 columns]>

In [16]:

print(Purchase_final_2016.head)

<bound method NDFrame.head of                   InventoryId  Store  Brand                   Description  \
0           69_MOUNTMEND_8412     69   8412     Tequila Ocho Plata Fresno
1            30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide
2           34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced
3         1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide
4           76_DONCASTER_2034     76   2034     Glendalough Double Barrel
...                       ...    ...    ...                           ...
2372469     49_GARIGILL_22298     49  22298       Zorvino Vyds Sangiovese
2372470  1_HARDERSFIELD_19556      1  19556    Zorvino Bacca Z Blackberry
2372471   66_EANVERNESS_22297     66  22297            Zorvino Vyds Pearz
2372472    69_MOUNTMEND_19557     69  19557  Zorvino Fragole Z Strawberry
2372473    55_DRY GULCH_22298     55  22298       Zorvino Vyds Sangiovese

          Size  VendorNumber                   VendorName  PONumber  \
0        750mL           105  ALTAMAR BRANDS LLC               8124
1        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
2        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
3        1.75L          4466  AMERICAN VINTAGE BEVERAGE        8137
4        750mL           388  ATLANTIC IMPORTING COMPANY       8169
...        ...           ...                          ...       ...
2372469  750mL         90058  ZORVINO VINEYARDS               13593
2372470  750mL         90058  ZORVINO VINEYARDS               13593
2372471  750mL         90058  ZORVINO VINEYARDS               13593
2372472  750mL         90058  ZORVINO VINEYARDS               13593
2372473  750mL         90058  ZORVINO VINEYARDS               13593

             PODate ReceivingDate InvoiceDate     PayDate  PurchasePrice  \
0        2015-12-21    2016-01-02  2016-01-04  2016-02-16          35.71
1        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
2        2015-12-22    2016-01-02  2016-01-07  2016-02-21           9.41
3        2015-12-22    2016-01-01  2016-01-07  2016-02-21           9.35
4        2015-12-24    2016-01-02  2016-01-09  2016-02-16          21.32
...             ...           ...         ...         ...            ...
2372469  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06
2372470  2016-12-19    2016-12-27  2017-01-09  2017-02-06           9.39
2372471  2016-12-19    2016-12-26  2017-01-09  2017-02-06           6.75
2372472  2016-12-19    2016-12-26  2017-01-09  2017-02-06           9.39
2372473  2016-12-19    2016-12-28  2017-01-09  2017-02-06           8.06

         Quantity  Dollars  Classification
0               6   214.26               1
1               4    37.40               1
2               5    47.05               1
3               6    56.10               1
4               5   106.60               1
...           ...      ...             ...
2372469        12    96.72               2
2372470        12   112.68               2
2372471        12    81.00               2
2372472        12   112.68               2
2372473        12    96.72               2

[2372474 rows x 16 columns]>

In [20]:
Purchase_final_2016.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

In [24]:
print(Purchase_final_2016.columns)

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [26]:
# Lista de columnas a convertir
columnas_a_convertir = ['PODate', 'ReceivingDate', 'InvoiceDate', 'PayDate']

# Convertir cada columna a formato datetime
for columna in columnas_a_convertir:
    Purchase_final_2016[columna] = pd.to_datetime(Purchase_final_2016[columna], errors='coerce')

# Verificar la conversi칩n
print(Purchase_final_2016.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          datetime64[ns]
 9   ReceivingDate   datetime64[ns]
 10  InvoiceDate     datetime64[ns]
 11  PayDate         datetime64[ns]
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: datetime64[ns](4), float64(2), int64(6), object(4)
memory usage: 289.6+ MB
None

In [17]:
print(Invoice_purchases_2016.head)

<bound method NDFrame.head of       VendorNumber                   VendorName InvoiceDate  PONumber  \
0              105  ALTAMAR BRANDS LLC           2016-01-04      8124
1             4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2              388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3              480  BACARDI USA INC              2016-01-12      8106
4              516  BANFI PRODUCTS CORP          2016-01-07      8170
...            ...                          ...         ...       ...
5538          9622  WEIN BAUER INC               2017-01-06     13626
5539          9625  WESTERN SPIRITS BEVERAGE CO  2017-01-10     13661
5540          3664  WILLIAM GRANT & SONS INC     2017-01-02     13643
5541          9815  WINE GROUP INC               2017-01-03     13602
5542         90058  ZORVINO VINEYARDS            2017-01-05     13574

          PODate     PayDate  Quantity    Dollars  Freight Approval
0     2015-12-21  2016-02-16         6     214.26     3.47      NaN
1     2015-12-22  2016-02-21        15     140.55     8.57      NaN
2     2015-12-24  2016-02-16         5     106.60     4.61      NaN
3     2015-12-20  2016-02-05     10100  137483.78  2935.20      NaN
4     2015-12-24  2016-02-12      1935   15527.25   429.20      NaN
...          ...         ...       ...        ...      ...      ...
5538  2016-12-21  2017-02-10        90    1563.00     8.60      NaN
5539  2016-12-23  2017-02-18      4617   37300.48   186.50      NaN
5540  2016-12-22  2017-02-04      9848  202815.78   932.95      NaN
5541  2016-12-20  2017-02-08     24747  149007.56   819.54      NaN
5542  2016-12-18  2017-02-12       437    3608.11    16.60      NaN

[5543 rows x 10 columns]>

In [28]:
# Verificar las columnas en la tabla Invoice_purchase_2016
print(Invoice_purchases_2016.columns)

# Convertir las columnas de fecha en Invoice_purchase_2016
columnas_a_convertir = ['InvoiceDate', 'PODate', 'PayDate']
for columna in columnas_a_convertir:
    if columna in Invoice_purchases_2016.columns:
        Invoice_purchases_2016[columna] = pd.to_datetime(Invoice_purchases_2016[columna], errors='coerce')
    else:
        print(f"La columna {columna} no se encuentra en la tabla.")

# Verificar los resultados de la conversi칩n
print(Invoice_purchases_2016.info())

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   datetime64[ns]
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   datetime64[ns]
 5   PayDate       5543 non-null   datetime64[ns]
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: datetime64[ns](3), float64(2), int64(3), object(2)
memory usage: 433.2+ KB
None

In [11]:
Sales_final_2016.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

In [12]:
# Convertir la columna 'salesdate' de string a datetime
Sales_final_2016['SalesDate'] = pd.to_datetime(Sales_final_2016['SalesDate'], errors='coerce')

In [13]:
Sales_final_2016.dtypes

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
SalesQuantity              int64
SalesDollars             float64
SalesPrice               float64
SalesDate         datetime64[ns]
Volume                     int64
Classification             int64
ExciseTax                float64
VendorNo                   int64
VendorName                object
dtype: object

In [18]:
Purchase_final_2016.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

In [38]:
# Para verificar valores nulos por columna
print("Valores nulos en Sales_final_2016 por columna:")
print(Sales_final_2016.isnull().sum())

print("Valores nulos en Purchase_final_2016 por columna:")
print(Purchase_final_2016.isnull().sum())

print("Valores nulos en Invoice_purchase_2016 por columna:")
print(Invoice_purchases_2016.isnull().sum())

Valores nulos en Sales_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64
Valores nulos en Purchase_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64
Valores nulos en Invoice_purchase_2016 por columna:
VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [37]:
# Identificar los valores m치s comunes en la columna
valores_comunes = Purchase_final_2016['Size'].value_counts()
print(valores_comunes.head(5))  # Analizar los patrones m치s comunes

Size
750mL    1207700
1.75L     593298
1.5L      229841
50mL       73333
375mL      70385
Name: count, dtype: int64

In [39]:
# Para verificar valores nulos por columna
print("Valores nulos en Sales_final_2016 por columna:")
print(Sales_final_2016.isnull().sum())

print("Valores nulos en Purchase_final_2016 por columna:")
print(Purchase_final_2016.isnull().sum())

print("Valores nulos en Invoice_purchase_2016 por columna:")
print(Invoice_purchases_2016.isnull().sum())

Valores nulos en Sales_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64
Valores nulos en Purchase_final_2016 por columna:
InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64
Valores nulos en Invoice_purchase_2016 por columna:
VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [41]:
print(Invoice_purchases_2016.columns)

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')