In [2]:
import pandas as pd
import numpy as np

In [3]:
import warnings
warnings.filterwarnings ("ignore")

In [4]:
# Cargar archivo CSV
df_2017PurchasePrices = pd.read_csv ('2017PurchasePricesDec.csv')

In [5]:
# Verificar estructura de los datos
print(df_2017PurchasePrices.head())
print(df_2017PurchasePrices.info())
print(df_2017PurchasePrices.describe())

   Brand                  Description  Price   Size Volume  Classification  \
0     58  Gekkeikan Black & Gold Sake  12.99  750mL    750               1
1     62     Herradura Silver Tequila  36.99  750mL    750               1
2     63   Herradura Reposado Tequila  38.99  750mL    750               1
3     72         No. 3 London Dry Gin  34.99  750mL    750               1
4     75    Three Olives Tomato Vodka  14.99  750mL    750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.28          8320  SHAW ROSS INT L IMP LTD
1          28.67          1128  BROWN-FORMAN CORP
2          30.46          1128  BROWN-FORMAN CORP
3          26.11          9165  ULTRA BEVERAGE COMPANY LLP
4          10.94          7245  PROXIMO SPIRITS INC.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB
None
              Brand         Price  Classification  PurchasePrice  \
count  12261.000000  12261.000000    12261.000000   12261.000000
mean   17989.067123     38.640240        1.708996      26.488220
std    12528.503464    206.151172        0.454244     156.182948
min       58.000000      0.000000        1.000000       0.000000
25%     5990.000000     10.990000        1.000000       6.890000
50%    18788.000000     15.990000        2.000000      10.650000
75%    25117.000000     29.990000        2.000000      20.130000
max    90631.000000  13999.900000        2.000000   11111.030000

        VendorNumber
count   12261.000000
mean    10814.861757
std     19007.682322
min         2.000000
25%      3960.000000
50%      7153.000000
75%      9552.000000
max    173357.000000

In [10]:
print (df_2017PurchasePrices.columns)

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [ ]:
df_2017PurchasePrices ['Volume'] = pd.to_numeric(df_2017PurchasePrices['Volume'])

In [16]:
# Convertir tamaños a categorías
df_2017PurchasePrices['Size'] = df_2017PurchasePrices['Size'].astype('category')

In [17]:
df_2017PurchasePrices.isnull () . sum()

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [18]:
df_2017PurchasePrices.dtypes

Brand                int64
Description         object
Price              float64
Size              category
Volume              object
Classification       int64
PurchasePrice      float64
VendorNumber         int64
VendorName          object
dtype: object

In [19]:
# Guardar datos limpios y normalizados
df_2017PurchasePrices.to_csv('2017PurchasePricesFinal.csv', index=False)

In [6]:
# Cargar archivo CSV
df_BegInv = pd.read_csv ('BegInvFinal12312016.csv')

In [7]:
# Verificar estructura de los datos
print(df_BegInv.head())
print(df_BegInv.info())
print(df_BegInv.describe())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2016-01-01
1  750mL       7  10.99  2016-01-01
2  750mL       6  36.99  2016-01-01
3  750mL       3  38.99  2016-01-01
4  750mL       6  34.99  2016-01-01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  206529 non-null  object
 1   Store        206529 non-null  int64
 2   City         206529 non-null  object
 3   Brand        206529 non-null  int64
 4   Description  206529 non-null  object
 5   Size         206529 non-null  object
 6   onHand       206529 non-null  int64
 7   Price        206529 non-null  float64
 8   startDate    206529 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 14.2+ MB
None
               Store          Brand         onHand          Price
count  206529.000000  206529.000000  206529.000000  206529.000000
mean       42.122457   13761.482320      20.429455      22.253910
std        23.191393   13059.429355      31.467342      70.178964
min         1.000000      58.000000       0.000000       0.000000
25%        22.000000    3746.000000       7.000000       9.990000
50%        42.000000    8010.000000      12.000000      14.990000
75%        64.000000   22143.000000      21.000000      21.990000
max        79.000000   90090.000000    1251.000000   13999.900000

In [20]:
# Convertir tamaños a categorías
df_BegInv['Size'] = df_BegInv['Size'].astype('category')

In [ ]:
# Convertir fechas en datetime
df_BegInv ['startDate'] = pd.to_datetime (df_BegInv ['startDate'])

In [23]:
df_BegInv.dtypes

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                 category
onHand                  int64
Price                 float64
startDate      datetime64[ns]
dtype: object

In [24]:
# Guardar datos limpios y normalizados
df_BegInv.to_csv('BegInvFinal.csv', index=False)

In [8]:
# Cargar archivo CSV
df_EndInv = pd.read_csv ('EndInvFinal12312016.csv')

In [9]:
# Verificar estructura de los datos
print(df_EndInv.head())
print(df_EndInv.info())
print(df_EndInv.describe())

         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
2  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
3  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin
4  1_HARDERSFIELD_75      1  HARDERSFIELD     75    Three Olives Tomato Vodka

    Size  onHand  Price     endDate
0  750mL      11  12.99  2016-12-31
1  750mL       7  36.99  2016-12-31
2  750mL       7  38.99  2016-12-31
3  750mL       4  34.99  2016-12-31
4  750mL       7  14.99  2016-12-31
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB
None
               Store          Brand         onHand          Price
count  224489.000000  224489.000000  224489.000000  224489.000000
mean       43.505740   14356.370513      21.763988      23.585583
std        23.326415   13118.467851      37.233576      79.202775
min         1.000000      58.000000       0.000000       0.490000
25%        23.000000    3798.000000       7.000000       9.990000
50%        44.000000    8259.000000      12.000000      14.990000
75%        66.000000   23965.000000      22.000000      23.490000
max        81.000000   90631.000000    3676.000000   13999.900000

In [25]:
# Convertir tamaños a categorías
df_EndInv ['Size'] = df_EndInv['Size'].astype('category')

In [28]:
# Convertir fechas en datetime
df_EndInv['endDate'] = pd.to_datetime (df_EndInv['endDate'])

In [30]:
df_EndInv.dtypes

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                 category
onHand                  int64
Price                 float64
endDate        datetime64[ns]
dtype: object

In [31]:
# Guardar datos limpios y normalizados
df_EndInv.to_csv('EndInvFinal.csv', index=False)